<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/popup :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h1 class="h3 mb-2 text-gray-800">검수계획 등록</h1>
        <!-- page card -->
        <div class="card shadow mb-4">
            <!-- card-body -->
            <div class="card-body">

                <form id="registForm" th:action="@{/inspection/planreg}" th:method="post">
                    <div class="form-group">
                        <label>1차 검수일 등록</label><br/>
                        <input type="date" class="form-control" name="inspectiondate1">
                    </div>
                    <div class="form-group">
                        <label>2차 검수일 등록</label><br/>
                        <input type="date" class="form-control" name="inspectiondate1">
                    </div>
                    <button type="submit" class="btn btn-primary">등록</button>
                    <button type="button" class="btn btn-info" onclick="self.close();">닫기</button>
                </form>
            </div><!-- card-body -->
        </div><!-- page card -->

    </th:block>
</th:block>