<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">

        <h1 class="mt-4">품목정보 등록 페이지</h1>
        <!-- page card -->
        <div class="card shadow mb-4">
        <!-- card-body -->
        <div class="card-body">

            <form id="registForm" th:action="@{/product/register}" th:method="post">
            <div class="form-group">
                <label>품목코드</label>
                <input type="text" class="form-control" name="pcode" id="pcode" placeholder="클릭하세요!!!" onclick="displayRandomNum();" readonly>
            </div>
            <div class="form-group">
                <label>품목이름</label>
                <input type="text" class="form-control" name="pname">
            </div>
            <div class="form-group">
                <label>품목분류</label><br/>
                <select id="category" name="ptype1" size="1" onchange="makeSubmenu(this.value)" style="height:50px;">
                    <option value="" disabled selected>-분류선택--------------------------------</option>
                    <option value="DESKTOP">DESKTOP</option>
                    <option value="NOTEBOOK">NOTEBOOK</option>
                    <option value="SERVER">SERVER</option>
                    <option value="ETC">ETC</option>
                    <option value="ACCESSORY">ACCESSORY</option>
                    <option value="TOOLS">TOOLS</option>
                </select>&nbsp;
                <select id="categorySelect" name="ptype2" size="1" style="height:50px;">
                    <option value="" disabled selected>-분류선택--------------------------------</option>
                    <option></option>
                </select>
            </div>
            <div class="form-group">
                <label>품목설명</label>
                <textarea class="form-control" rows="5" name="pcontent"></textarea>
            </div>
            <div class="form-group">
                <label>기타참고</label>
                <textarea class="form-control" rows="2" name="petc"></textarea>
            </div>
            <div class="form-group">
                <label>첨부파일</label>
                <!-- 첨부파일 등록 -->
            </div>
            <button type="submit" class="btn btn-primary">등록</button>
            <a th:href="@{/product/list}"><button type="button" class="btn btn-info">목록</button></a>
            </form>
            </div><!-- card-body -->

        </div><!-- page card -->
    </th:block>
</th:block>