<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

            <!-- Begin Page Content -->
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">발주(구매)관리</h1>
            <!-- page card -->
            <div class="card shadow mb-4">


                <!-- card-header -->
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">검색</h6></div>
                <!-- card-body -->
                <div class="card-body">
                    <div><!-- div -->

                        <!-- <div class="input-group"> -->
                        <div class="input-group">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width:100px;">일반검색</td>
                                    <td>
                                        <div class="input-group-prepend">
                                            <select class="form-select" name="type1" style="height:50px;">
                                                <option value="">-항목선택--------------------------------</option>
                                                <option value="">발주코드</option>
                                                <option value="">품목이름</option>
                                                <option value="">담당자</option>
                                                <option value="">납품업체</option>
                                            </select>&nbsp;
                                            <input type="text" class="form-control" name="keyword" style="height:50px;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100px;">발주상태</td>
                                    <td>
                                        <div class="input-group-prepend">
                                            <select class="form-select" name="type2" style="height:50px;">
                                                <option value="">-발주상태--------------------------------</option>
                                                <option value="">구매발주</option>
                                                <option value="">입고처리</option>
                                                <option value="">반품처리</option>
                                                <option value="">마감완료</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:100px; height:30px;">기간검색</td>
                                    <td>
                                        <div class="input-group-prepend">
                                            <select class="form-select" name="type3" style="height:50px;">
                                                <option value="">-기간검색--------------------------------</option>
                                                <option value="">발주일자</option>
                                                <option value="">납기일자</option>
                                                <option value="">마감일자</option>
                                            </select>
                                            &nbsp;<input type="date" name="startday">
                                            &nbsp;<input type="date" name="endday">
                                        </div>
                                    </td>
                                </tr>
                                <tr style="height:20px;">
                                    <td colspan="2" style="text-align: right;"><button class="btn btn-outline-secondary searchBtn" type="button">검색</button></td>
                                </tr>
                            </table>
                        </div>
                        <!-- <div class="input-group"> -->


                    </div><!-- div -->
                </div><!-- <div class="card-body"> -->

                <!-- card-header -->
                <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">목록</h6></div>
                <!-- card-body -->
                <div class="card-body">
                    <!-- <div class="table-responsive"> -->
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">발주코드</th>
                                <th scope="col">발주일자</th>
                                <th scope="col">납기일자</th>
                                <th scope="col">마감일자</th>
                                <th scope="col">품목이름</th>
                                <th scope="col">수량</th>
                                <th scope="col">공급단가(원)</th>
                                <th scope="col">납품업체</th>
                                <th scope="col">담당자</th>
                                <th scope="col">발주상태</th>
                                <th scope="col">비고</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="dto : ${result.dtoList}">

                                <td><input type="checkbox" name="checkbox" th:value="${dto.ono}"></td>
                                                                <th scope="row">
                                                                    <a th:href="@{/order/read(ono = ${dto.ono},
                                                    page= ${result.page},
                                                    type=${orderPageRequestDTO.type} ,
                                                    keyword = ${orderPageRequestDTO.keyword})}">
                                                                        [[${dto.ocode}]]
                                                                    </a>
                                                                </th>
                                <td>[[${dto.orderdate}]]</td>
                                <td>[[${dto.deliverydate}]]</td>
                                <td>[[${dto.duedate}]]</td>
                                <td>[[${dto.opname}]]</td>
                                <td>[[${dto.oquantity}]]</td>
                                <td>[[${dto.oprice}]]</td>
                                <td>[[${dto.ocompany}]]</td>
                                <td>[[${dto.omanager}]]</td>
                                <td>[[${dto.ostate}]]</td>
                                <td>[[${dto.oetc}]]</td>


                            </tr>
<!--                            <tr>-->
<!--                                <td>10008</td>-->
<!--                                <td>2022-09-11</td>-->
<!--                                <td>2022-09-11</td>-->
<!--                                <td>-</td>-->
<!--                                <td>CPU(intel 12th i7)</td>-->
<!--                                <td>100</td>-->
<!--                                <td>600000</td>-->
<!--                                <td>용산닷컴</td>-->
<!--                                <td>홍길동</td>-->
<!--                                <td>조달진행</td>-->
<!--                                <td>리포트</td>-->
<!--                            </tr>-->

                            </tbody>
                        </table>
                        <ul class="pagination h-100 justify-content-center align-items-center">

                            <li class="page-item " th:if="${result.prev}">
                                <a class="page-link" th:href="@{/order/list(page= ${result.start -1},
                    type=${orderPageRequestDTO.type} ,
                    keyword = ${orderPageRequestDTO.keyword} ) }" tabindex="-1">Previous</a>
                            </li>

                            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                                <a class="page-link" th:href="@{/order/list(page = ${page} ,
                   type=${orderPageRequestDTO.type} ,
                   keyword = ${orderPageRequestDTO.keyword}  )}">
                                    [[${page}]]
                                </a>
                            </li>

                            <li class="page-item" th:if="${result.next}">
                                <a class="page-link" th:href="@{/order/list(page= ${result.end + 1} ,
                    type=${orderPageRequestDTO.type} ,
                    keyword = ${orderPageRequestDTO.keyword} )}">Next</a>
                            </li>

                        </ul>

                        <div style="float: right">
                            &nbsp;<button class="btn btn-outline-secondary deleteBtn" type="button"> 리포트 </button>
                            &nbsp;<button class="btn btn-outline-secondary deleteBtn" type="button">발주삭제</button>
<!--                            &nbsp;<button class="btn btn-outline-secondary registBtn" type="button" >발주등록</button>-->
                            <a href="/order/register" class="btn btn-outline-secondary registBtn" type="button">발주등록</a>
                        </div>
                    </div><!-- <div class="table-responsive"> -->
                </div><!-- card-body -->

            </div><!-- page card -->
    <!-- End Page Content -->
    </th:block>
</th:block>
