<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

    <h1 class="mt-4">품목정보 수정 페이지</h1>
    <!-- page card -->
    <div class="card shadow mb-4">
      <!-- card-body -->
      <div class="card-body">
        <form th:action="@{/order/modify}" th:method="post">
          <!-- 페이지번호 -->
          <input type="hidden" name="page" th:value="${requestDTO.page}"><!-- 페이지번호 -->
          <!-- 삭제처리에 pno넘기기위한 히든처리 -->
          <div class="form-group">
            <input type="hidden" class="form-control" name="pno" th:value="${dto.pno}">
          </div><!-- 삭제처리에 pno넘기기위한 히든처리 -->
          <div class="form-group">
            <label>품목코드</label>
            <input type="text" class="form-control" name="pcode" th:value="${dto.pcode}" readonly>
          </div>
          <div class="form-group">
            <label>품목이름</label>
            <input type="text" class="form-control" name="pname" th:value="${dto.pname}">
          </div>
          <div class="form-group">
            <label>대분류</label>
            <input type="text" class="form-control" name="ptype1" th:value="${dto.ptype1}" readonly>
            <select class="form-select" style="height:50px;" onchange="selectptype1(this.value);">
              <option value="미분류">----------------분류선택----------------</option>
              <option value="데스크톱">데스크톱</option>
              <option value="노트북">노트북</option>
              <option value="서버">서버</option>
            </select>
          </div>
          <div class="form-group">
            <label>중분류</label>
            <input type="text" class="form-control" name="ptype2" th:value="${dto.ptype2}" readonly>
            <select class="form-select" style="height:50px;" onchange="selectptype2(this.value);">
              <option value="미분류">----------------분류선택----------------</option>
              <option value="CPU">CPU</option>
              <option value="메인보드">메인보드</option>
              <option value="메모리">메모리</option>
              <option value="하드디스크">하드디스크/SDD</option>
              <option value="케이스">케이스</option>
              <option value="파워">파워</option>
            </select>
          </div>
          <div class="form-group">
            <label>설명</label>
            <textarea class="form-control" rows="5" name="pcontent" th:value="${dto.pcontent}"></textarea>
          </div>
          <div class="form-group">
            <label>비고</label>
            <textarea class="form-control" rows="2" name="petc" th:value="${dto.petc}"></textarea>
          </div>
          <div class="form-group">
            <label>첨부파일</label>
            <!-- 섬네일 처리 또는 파일명만 뜨게 처리-->
          </div>

        </form>

        <button type="button" class="btn btn-primary modifyBtn">수정</button>
        <button type="button" class="btn btn-info listBtn">목록</button>
        <button type="button" class="btn btn-danger removeBtn">삭제</button>

      </div><!-- card-body -->
    </div><!-- page card -->

    <script th:inline="javascript">
      /* 대,중분류 select박스 선택값에 따라 input값 변경처리 jQuery */
      var selectptype1 = function(value){
        $("[name=ptype1]").val(value);
      }

      var selectptype2 = function(value){
        $("[name=ptype2]").val(value);
      }/* 대,중분류 select박스 선택값에 따라 input값 변경처리 jQuery */

      /* 수정처리시 이벤트처리 */
      $(".modifyBtn").click(function () {
        if (!confirm("수정하시겠습니까?")){
          return;
        }
        actionForm
                .attr("action", "/order/modify")
                .attr("method", "post")
        actionForm.submit();
      });/* 수정처리시 이벤트처리 */

      /* 삭제처리시 이벤트처리 */
      var actionForm = $("form"); // form 태그 객체

      $(".removeBtn").click(function () {
        if (!confirm("삭제하시겠습니까?")){
          return;
        }
        actionForm
                .attr("action", "/order/remove")
                .attr("method", "post");
        actionForm.submit();
      });/* 삭제처리시 이벤트처리 */

      /* 목록처리시 이벤트처리 */
      $(".listBtn").click(function () {
        var pageInfo = $("input[name = 'page']");
        actionForm.empty(); // form 태그의 모든 내용을 지우고
        actionForm.append(pageInfo); // 목록페이지 이동에 필요한 내용을 다시 추가
        actionForm
                .attr("action", "/product/list")
                .attr("method", "get");
        actionForm.submit();
      });/* 목록처리시 이벤트처리 */

    </script>

  </th:block>
</th:block>