<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <h1 class="h3 mb-2 text-gray-800">발주정보 상세보기</h1>

        <!-- page card -->
        <div class="card shadow mb-4">
            <!-- card-body -->
            <div class="card-body">
                <input type="hidden" name="page" th:value="${requestDTO.page}"><!-- 페이지번호 -->
                <input type="hidden" class="form-control" id="ono" name="ono" th:value="${dto.ono}"><!-- 삭제처리에 ono넘기기위한 히든처리 -->

                <div class="form-group" >
                    <label>발주상태</label>
                    <input type="text" class="form-control" name="ostate" th:value="${dto.ostate}" readonly>
                </div>
            </div>
            <!-- card-body -->
        </div>
        <!-- page card -->


        <!-- page card -->
        <div class="card shadow mb-4">
            <!-- card-body -->
            <div class="card-body">

                <div class="form-group" >
                    <label>발주코드</label>
                    <input type="text" class="form-control" name="ocode" th:value="${dto.ocode}" readonly>
                </div>
                <div class="form-group" >
                    <label>픔목코드</label>
                    <input type="text" class="form-control" name="pcode" th:value="${dto.pcode}" readonly>
                </div>
                <div class="form-group" >
                    <label>품목이름</label>
                    <input type="text" class="form-control" name="pname" th:value="${dto.pname}" readonly>
                </div>
                <div class="form-group" >
                    <label>대분류</label>
                    <input type="text" class="form-control" name="ptype1" th:value="${dto.ptype1}" readonly >
                    <label>중분류</label>
                    <input type="text" class="form-control" name="ptype2" th:value="${dto.ptype2}" readonly>
                </div>
                <div class="form-group"  >
                    <label>공급단가</label>
                    <input type="text"  class="form-control"id="pprice" name="pprice" th:value="${#numbers.formatInteger(dto.pprice, 1, 'COMMA') + '원'}" readonly>
                </div>
                <div class="form-group"  >
                    <label>납품업체</label>
                    <input type="text" class="form-control" id="cpartnername" name="cpartnername" th:value="${dto.cpartnername}" readonly>
                </div>

            </div>
            <!-- card-body -->
        </div>
        <!-- page card -->


        <!-- page card -->
        <div class="card shadow mb-4">
            <!-- card-body -->
            <div class="card-body">

                <div class="form-group">
                    <label>발주수량</label>
                    <input type="text" class="form-control" id="oquantity" name="oquantity" th:value="${#numbers.formatInteger(dto.oquantity, 1, 'COMMA') + '개'}" readonly>
                </div>
                <div class="form-group">
                    <label>발주담당자</label>
                    <input type="text" class="form-control" id="omanager" name="omanager"  th:value="${dto.omanager}" readonly>
                </div>
                <div class="form-group">
                    <label>발주일자</label>
                    <input type="date" class="form-control" name="orderdate" th:value="${dto.orderdate}"readonly>
                </div>
                <div class="form-group" >
                    <label>납기일자</label>
                    <input type="date" class="form-control" name="deliverydate" th:value="${dto.deliverydate}"readonly>
                </div>

            </div>
            <!-- card-body -->
        </div>
        <!-- page card -->


        <!-- page card -->
        <div class="card shadow mb-4">
            <!-- card-body -->
            <div class="card-body">

                <div class="form-group">
                    <label>상세내용</label>
                    <textarea class="form-control" rows="5" name="pcontent"  th:value="${dto.pcontent}" th:text="${dto.pcontent}" readonly></textarea>
                </div>
                <div class="form-group">
                    <label>비고</label>
                    <textarea class="form-control" rows="2" name="oetc"   th:value="${dto.oetc}" th:text="${dto.oetc}"readonly></textarea>
                </div>
                
                <a th:href="@{/order/modify(ono=${dto.ono}, page=${requestDTO.page})}"><button type="button" class="btn btn-primary">발주수정</button></a>
                <a th:href="@{/order/list(page=${requestDTO.page})}"><button type="button" class="btn btn-info">발주목록</button></a>
                <button th:if="${dto.ostate.toString().equals('구매발주')}" type="button" class="btn btn-warning" onclick="inspectionRegistOpenPopup('register');">검수등록</button>
                <button th:if="${dto.ostate.toString().equals('검수진행') or dto.ostate.toString().equals('검수완료')}" type="button" class="btn btn-warning" onclick="inspectionRegistOpenPopup('read');">검수보기</button>
                <button th:if="${dto.ostate.toString().equals('입고처리')}" type="button" class="btn btn-warning" onclick="orderComplete('complete');">마감완료</button>

            </div><!-- card-body -->
        </div><!-- page card -->

    </th:block>
</th:block>