<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">발주정보 페이지</h1>
    <!-- page card -->
    <div class="card shadow mb-4">
      <!-- card-body -->
      <div class="card-body">

          <!-- 페이지번호 -->
          <input type="hidden" name="page" th:value="${requestDTO.page}"><!-- 페이지번호 -->
          <!-- 삭제처리에 ono넘기기위한 히든처리 -->
          <div class="form-group">
              <input type="hidden" class="form-control" name="ono" th:value="${dto.ono}">
          </div><!-- 삭제처리에 ono넘기기위한 히든처리 -->
          <div class="form-group" >
            <label>발주코드</label>
            <input type="text" class="form-control" name="ocode" th:value="${dto.ocode}" readonly>
          </div>

          <div class="form-group" >
            <label>대분류</label>
            <input type="text" class="form-control" name="ptype1" th:value="${dto.ptype1}" readonly >
            &nbsp;&nbsp;
            <!--            </div>-->
            <!--            <div class="form-group">-->
            <label>중분류</label>
            <input type="text" class="form-control" name="ptype2" th:value="${dto.ptype2}" readonly>
          </div>
          <div class="form-group" >
            <label>품목이름</label>
            <input type="text" class="form-control" name="opname" th:value="${dto.opname}" readonly>
          </div>
          <div class="form-group"  >
            <label>수량</label> <input type="text" class="form-control" id="oquantity" name="oquantity" th:value="${dto.oquantity}" readonly >
            <label>공급단가(원)</label> <input type="text"  class="form-control"id="oprice" name="oprice" th:value="${dto.oprice}" readonly>
          </div>
          <div >
            <div class="form-group"  >
              <label>납품업체</label> <input type="text" class="form-control" id="ocompany" name="ocompany" th:value="${dto.ocompany}" readonly>
              <label>담당자</label> <input type="text" class="form-control" id="omanager" name="omanager"  th:value="${dto.omanager}" readonly>
            </div>
          </div>
          <div >
            <div class="form-group" >
              <label>발주일자</label><input type="date" class="form-control" name="orderdate" th:value="${dto.orderdate}"readonly>
              <label>납기일자</label><input type="date" class="form-control" name="deliverydate" th:value="${dto.deliverydate}"readonly>
              <label>마감일자</label><input type="date" class="form-control" name="duedate" th:value="${dto.duedate}"readonly>
            </div>
          </div>
          <div class="form-group" >
            <label>발주상태</label>
            <input type="text" class="form-control" name="ostate" th:value="${dto.ostate}" readonly>
          </div>
          <div class="form-group">
            <label>설명</label>
            <textarea class="form-control" rows="5" name="pcontent"  th:value="${dto.pcontent}" th:text="${dto.pcontent}" readonly></textarea>
          </div>
          <div class="form-group">
            <label>비고</label>
            <textarea class="form-control" rows="2" name="oetc"   th:value="${dto.oetc}" th:text="${dto.oetc}"readonly></textarea>
          </div>
          <a th:href="@{/order/modify(ono=${dto.ono}, page=${requestDTO.page})}">
              <button type="button" class="btn btn-primary">수정</button>
          </a>



      </div><!-- card-body -->
    </div><!-- page card -->
  </th:block>
</th:block>