<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">
    <h1 class="mt-4">품목정보 등록 페이지</h1>
    <!-- page card -->
    <div class="card shadow mb-4">
      <!-- card-body -->
      <div class="card-body">

        <form th:action="@{/stock/register}" th:method="post">
          <div class="form-group">
            <label>품목코드</label>
            <input type="text" class="form-control" name="scode" placeholder="P0000">
          </div>
          <div class="form-group">
            <label>품목이름</label>
            <input type="text" class="form-control" name="sname">
          </div>
          <div class="form-group">
            <label>대분류</label>
            <select class="form-select" name="scate1" style="height:40px;">
              <option value="미분류">-분류선택--------------------------------</option>
              <option value="데스크톱">데스크톱</option>
              <option value="노트북">노트북</option>
              <option value="서버">서버</option>
              <option value="기타">기타</option>
            </select>
            &nbsp;&nbsp;
            <!--            </div>-->
            <!--            <div class="form-group">-->
            <label>중분류</label>
            <select class="form-select" name="scate2" style="height:40px;">
              <option value="미분류">-분류선택--------------------------------</option>
              <option value="CPU">CPU</option>
              <option value="메인보드">메인보드</option>
              <option value="메모리">메모리</option>
              <option value="하드디스크">하드디스크/SDD</option>
              <option value="케이스">케이스</option>
              <option value="파워">파워</option>
            </select>
          </div>
          <div class="form-group">
            <label>비고</label>
            <textarea class="form-control" rows="2" name="snote"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">등록</button>
        </form>

      </div><!-- card-body -->
    </div><!-- page card -->
  </th:block>
</th:block>