<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Begin Page Content -->
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">자재현황</h1>
        <!-- page card -->
        <div class="card shadow mb-4">

            <!-- card-header -->
            <div class="card-header py-3"><h8 class="m-0 font-weight-bold text-primary">검색</h8></div>
            <!-- card-body -->
            <div class="card-body">
                <!-- div -->
                <div>
                    <!-- <div class="input-group"> -->
                    <form action="/stock/list" method="get" id="searchForm">
                    <div class="input-group">
                        <input type="hidden" name="page" value="1">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width:100px;">자재분류</td>
                                <td>
                                    <div class="input-group-prepend">
                                        <select id="category" name="type1" size="1" onchange="makeSubmenu(this.value)" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type1 == null}" disabled>----------------분류선택----------------</option>
                                            <option value="DESKTOP" th:selected="${stockPageRequestDTO.type1 == 'DESKTOP'}">DESKTOP</option>
                                            <option value="NOTEBOOK" th:selected="${stockPageRequestDTO.type1 == 'NOTEBOOK'}">NOTEBOOK</option>
                                            <option value="SERVER" th:selected="${stockPageRequestDTO.type1 == 'SERVER'}">SERVER</option>
                                            <option value="ETC" th:selected="${stockPageRequestDTO.type1 == 'ETC'}">ETC</option>
                                            <option value="ACCESSORY" th:selected="${stockPageRequestDTO.type1 == 'ACCESSORY'}">ACCESSORY</option>
                                            <option value="TOOLS" th:selected="${stockPageRequestDTO.type1 == 'TOOLS'}">TOOLS</option>
                                        </select>&nbsp;
                                        <select id="categorySelect" name="type2" size="1" style="height:50px;">
                                            <option value="" disabled selected>----------------분류선택----------------</option>
                                            <option></option>
                                        </select>&nbsp;
                                        <!--
                                        <select class="form-select" name="type1" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type1 == null}">-분류선택--------------------------------</option>
                                            <option value="데스크톱" th:selected="${stockPageRequestDTO.type1 == '데스크톱'}">데스크톱</option>
                                            <option value="노트북" th:selected="${stockPageRequestDTO.type1 == '노트북'}">노트북</option>
                                            <option value="서버" th:selected="${stockPageRequestDTO.type1 == '서버'}">서버</option>
                                            <option value="기타" th:selected="${stockPageRequestDTO.type1 == '기타'}">기타</option>
                                        </select>&nbsp;
                                        <select class="form-select" name="type2" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type2 == null}">-분류선택--------------------------------</option>
                                            <option value="CPU" th:selected="${stockPageRequestDTO.type2 == 'CPU'}">CPU</option>
                                            <option value="메인보드" th:selected="${stockPageRequestDTO.type2 == '메인보드'}">메인보드</option>
                                            <option value="메모리" th:selected="${stockPageRequestDTO.type2 == '메모리'}">메모리</option>
                                            <option value="하드디스크" th:selected="${stockPageRequestDTO.type2 == '하드디스크'}">하드디스크/SDD</option>
                                            <option value="케이스" th:selected="${stockPageRequestDTO.type2 == '케이스'}">케이스</option>
                                            <option value="파워" th:selected="${stockPageRequestDTO.type2 == '파워'}">파워</option>
                                        </select>
                                        -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">일반검색</td>
                                <td>
                                    <div class="input-group-prepend">
                                        <select class="form-select" name="type3" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type3 == null}">----------------항목선택----------------</option>
                                            <option value="k" th:selected="${stockPageRequestDTO.type3 == 'k'}">자재코드</option>
                                            <option value="l" th:selected="${stockPageRequestDTO.type3 == 'l'}">자재이름</option>
                                        </select>&nbsp;
                                        <input type="text" class="form-control" name="keyword" th:value="${stockPageRequestDTO.keyword}" style="height:50px;">
                                    </div>
                                </td>
                            </tr>
                            <tr style="height:20px;">
                                <td colspan="2" style="text-align: right;">
                                    <button class="btn btn-outline-secondary searchBtn" type="button">검색</button>
                                    <button class="btn btn-outline-secondary resetBtn" type="button" onclick="location.href='/stock/list';">리셋</button>
                                </td>
                            </tr>

                        </table>

                    </div><!-- <div class="input-group"> -->
                    </form>
                </div><!-- div -->
            </div><!-- <div class="card-body"> -->


            <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">자재목록</h6></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>자재코드</th>
                            <th>자재이름</th>
                            <th>자재분류1</th>
                            <th>자재분류2</th>
                            <th>입고수량</th>
                            <th>출고수량</th>
                            <th>재고수량</th>
                            <th>공급단가</th>
                            <th>재고금액</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto : ${result.dtoList}">
                            <td><input type="radio" name="radio" th:value="${dto.sno}"></td>
                            <td><a th:href="@{/stock/read(sno = ${dto.sno}, page = ${result.page}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}">[[${dto.scode}]]</a></td>
                            <td>[[${dto.sname}]]</td>
                            <td>[[${dto.scate1}]]</td>
                            <td>[[${dto.scate2}]]</td>
                            <td>[[${dto.sin}]]</td>
                            <td>[[${dto.sout}]]</td>
                            <td>[[${dto.stock}]]</td>
                            <td th:text="${#numbers.formatInteger(dto.sreturn, 1, 'COMMA') + '원'}"></td>
                            <td th:text="${#numbers.formatInteger(dto.stock*dto.sreturn, 1, 'COMMA') + '원'}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="float: right">
                        <button class="btn btn-outline-secondary stockchartBtn" type="button">리포트</button>
                        <button class="btn btn-outline-secondary stockOutputBtn" type="button">자재출고</button>
                        <button class="btn btn-outline-secondary stockRegistBtn" type="button" onclick="location.href='/stock/register';">자재등록</button>
                    </div>


                </div>  <!-- 69 line end -->

                <ul class="pagination h-100 justify-content-center align-items-center">

                    <li class="page-item " th:if="${result.prev}">
                        <a class="page-link" th:href="@{/stock/list(page= ${result.start -1}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}" tabindex="-1">Previous</a>
                    </li>

                    <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                        <a class="page-link" th:href="@{/stock/list(page = ${page}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}">
                            [[${page}]]
                        </a>
                    </li>

                    <li class="page-item" th:if="${result.next}">
                        <a class="page-link" th:href="@{/stock/list(page= ${result.end + 1}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}">Next</a>
                    </li>
                </ul>

            </div>  <!-- 68line end -->
        </div>  <!-- 12line end -->

        <!-- 모달창 처리-->
        <div class="modal" tabindex="-1" role="dialog" id="cmodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">변경사항</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>정상적으로 처리되었습니다.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div><!-- 신규등록완료시 뜨는 모달창 처리-->

        <!-- 차트 모달-->
        <div class="modal" tabindex="-1" role="dialog" id="chartModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">자재 리포트</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <!--<span aria-hidden="true">&times;</span>-->
                        </button>
                    </div>
                    <div class="modal-body">
                        <!--<div class="container">-->
                            <!--<div>-->
                                <input type="hidden" name="chartScode" id="chartScode">

                                <select name="selectMonth" id="selectMonth">
                                    <option value="01">JAN</option>
                                    <option value="02">FEB</option>
                                    <option value="03">MAR</option>
                                    <option value="04">APR</option>
                                    <option value="05">MAY</option>
                                    <option value="06">JUN</option>
                                    <option value="07">JUL</option>
                                    <option value="08">AUG</option>
                                    <option value="09">SEP</option>
                                    <option value="10">OCT</option>
                                    <option value="11">NOV</option>
                                    <option value="12">DEC</option>
                                </select>

                                <button type="button" id="btn">확인</button>
                            <!--</div>-->
                        <!--</div>-->
                        <div id="graph" style="width: 80%; margin: 30px;">
                            <div>
                                <canvas id="canvas" height="350" width="600"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    </div>
                    </div>
                </div>
            </div>
        </div><!-- 차트 모달 END -->

        <!-- 모달 시작 -->
        <div class="modal" tabindex="-1" role="dialog" id="omodal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">자재출고</h5>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form action="/stock/register" method="post" id="modalForm">
                            <input type="hidden" name="sno" id="sno">
                            <div class="form-group">
                                <label >품목코드</label>
                                <input type="text" class="form-control" name="scode" id="scode" readonly>
                            </div>

                            <div class="form-group">
                                <label >품목이름</label>
                                <input type="text" class="form-control" name="sname" id="sname" readonly>
                            </div>

                            <div class="form-group">
                                <label >품목분류1</label>
                                <input type="text" class="form-control" name="scate1" id="scate1" readonly>
                            </div>

                            <div class="form-group">
                                <label >품목분류2</label>
                                <input type="text" class="form-control" name="scate2" id="scate2" readonly>
                            </div>

                            <div class="form-group">
                                <label >가격</label>
                                <input type="text" class="form-control" name="sreturn" id="sreturn" readonly>
                            </div>

                            <div class="form-gr" style="display: flex; justify-content: space-between;">
                                <div>
                                    <label>출고수량</label>
                                    <input type="text" class="form-control" name="sout" id="sout">
                                </div>
                                <div>
                                    <label>신청자</label>
                                    <input type="text" class="form-control" name="requester" id="requester">
                                </div>
                            </div>
                            <div class="form-gr" style="display: flex; justify-content: space-between;">
                                <div>
                                    <label>재고수량</label>
                                    <input type="text" class="form-control" name="stock" id="stock" readonly>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary outputSave">완료</button>
                        <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 모달 끝-->

        <script th:inline="javascript">

            $(document).on("click","input[name=radio]",function () {

                var sno = $(this).val();

                $.ajax({
                    url:"/stock/modalread2",
                    type:'get',
                    data: {"sno":sno},
                    contentType:"application/json",
                    success:function (data){
                        $("#scode").val(data.scode);
                        $("#sname").val(data.sname);
                        $("#scate1").val(data.scate1);
                        $("#scate2").val(data.scate2);
                        $("#sreturn").val(data.sreturn);
                        $("#sno").val(data.sno);
                        $("#stock").val(data.stock);
                        $("#chartScode").val(data.scode);
                    },
                    error:function (){
                        alert("실패");
                    }
                }); //ajax end

            }); //radio end

            var modal = $("#omodal");

            $(".stockOutputBtn").click(function (){

                modal.modal('show');

            });

            var chartModal = $("#chartModal");

            $(".stockchartBtn").click(function (){
               chartModal.modal('show');
            });

            var modalForm = $("#modalForm");

            $(".outputSave").click(function () {

                if ($("#stock").val() >= $("#sout").val()) {
                    modalForm
                        .attr("action", "/stock/outModify")
                        .attr("method", "post");

                    modalForm.submit();
                    modal.modal.hide();
                } else {
                    alert("재고수량 확인")
                }

            });

            var msg = [[${msg}]];

            console.log(msg);

            if(msg){
                $("#cmodal").modal();
            }

            var searchForm = $("#searchForm");

            $('.searchBtn').click(function (){

                searchForm.submit();

            });

           /* $(document).ready(function() {*/


                var chartLabels = []; // 받아올 데이터를 저장할 배열 선언
                var chartData = [];
                var month="";
                var scode="";
                var scode2="";


                function createChart() {

                    var ctx = document.getElementById("canvas").getContext("2d");
                    LineChartDemo = Chart.Line(ctx, {
                        data : lineChartData,
                        options : {
                            scales : {
                                yAxes : [ {
                                    ticks : {
                                        beginAtZero : true
                                    }
                                } ]
                            }
                        }
                    });
                }

                $('#selectMonth').change(function() {
                    var changeMonth = $('#selectMonth option:selected').val();
                    var changescode = $("#chartScode").val();
                    month = changeMonth;
                    scode = changescode;
                    console.log('month:'+month);
                    console.log('scode:'+scode);
                });

                //버튼을 클릭하면 차트가 그려짐
                $('#btn').click(function(){

                    chartLabels = [];
                    chartData=[];

                    //getJson으로 데이터
                    $.getJSON("/stock/chartmodal", {
                        month : month,
                        scode : scode
                    }, function(data) {
                        $.each(data, function(key, value) {
                            console.log(value)

                            chartLabels.push(value.date);
                            chartData.push(value.amount);
                            scode2 = value.scode;
                        });

                        lineChartData = {
                            labels : chartLabels,
                            datasets : [ {
                                label : scode2 + " 재고금액",
                                backgroundColor:"#bfdaf9",
                                borderColor: "#80b6f4",
                                pointBorderColor: "#80b6f4",
                                pointBackgroundColor: "#80b6f4",
                                pointHoverBackgroundColor: "#80b6f4",
                                pointHoverBorderColor: "#80b6f4",
                                fill: false,
                                borderWidth: 4,
                                data : chartData
                            } ]

                        }
                        createChart();

                    });
                })


            /*})*/

        </script>

    </th:block>
</th:block>
