<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Begin Page Content -->
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">자재현황</h1>
        <!-- page card -->
        <div class="card shadow mb-4">

            <!-- card-header -->
            <div class="card-header py-3"><h8 class="m-0 font-weight-bold text-primary">검색</h8></div>
            <!-- card-body -->
            <div class="card-body">
                <!-- div -->
                <div>
                    <!-- <div class="input-group"> -->
                    <form action="/stock/list" method="get" id="searchForm">
                    <div class="input-group">
                        <input type="hidden" name="page" value="1">
                        <table style="width: 100%;">
                            <tr>
                                <td style="width:100px;">품목분류</td>
                                <td>
                                    <div class="input-group-prepend">
                                        <select id="category" name="type1" size="1" onchange="makeSubmenu(this.value)" style="height:50px;">
                                            <option value="" disabled selected>-분류선택--------------------------------</option>
                                            <option value="DESKTOP" th:selected="${stockPageRequestDTO.type1 == 'DESKTOP'}">DESKTOP</option>
                                            <option value="NOTEBOOK" th:selected="${stockPageRequestDTO.type1 == 'NOTEBOOK'}">NOTEBOOK</option>
                                            <option value="SERVER" th:selected="${stockPageRequestDTO.type1 == 'SERVER'}">SERVER</option>
                                            <option value="ETC" th:selected="${stockPageRequestDTO.type1 == 'ETC'}">ETC</option>
                                            <option value="ACCESSORY" th:selected="${stockPageRequestDTO.type1 == 'ACCESSORY'}">ACCESSORY</option>
                                            <option value="TOOLS" th:selected="${stockPageRequestDTO.type1 == 'TOOLS'}">TOOLS</option>
                                        </select>&nbsp;
                                        <select id="categorySelect" name="type1" size="1" style="height:50px;">
                                            <option value="" disabled selected>-분류선택--------------------------------</option>
                                            <option></option>
                                        </select>&nbsp;
                                        <!--
                                        <select class="form-select" name="type1" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type1 == null}">-분류선택--------------------------------</option>
                                            <option value="데스크톱" th:selected="${stockPageRequestDTO.type1 == '데스크톱'}">데스크톱</option>
                                            <option value="노트북" th:selected="${stockPageRequestDTO.type1 == '노트북'}">노트북</option>
                                            <option value="서버" th:selected="${stockPageRequestDTO.type1 == '서버'}">서버</option>
                                            <option value="기타" th:selected="${stockPageRequestDTO.type1 == '기타'}">기타</option>
                                        </select>&nbsp;
                                        <select class="form-select" name="type2" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type2 == null}">-분류선택--------------------------------</option>
                                            <option value="CPU" th:selected="${stockPageRequestDTO.type2 == 'CPU'}">CPU</option>
                                            <option value="메인보드" th:selected="${stockPageRequestDTO.type2 == '메인보드'}">메인보드</option>
                                            <option value="메모리" th:selected="${stockPageRequestDTO.type2 == '메모리'}">메모리</option>
                                            <option value="하드디스크" th:selected="${stockPageRequestDTO.type2 == '하드디스크'}">하드디스크/SDD</option>
                                            <option value="케이스" th:selected="${stockPageRequestDTO.type2 == '케이스'}">케이스</option>
                                            <option value="파워" th:selected="${stockPageRequestDTO.type2 == '파워'}">파워</option>
                                        </select>
                                        -->
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100px;">일반검색</td>
                                <td>
                                    <div class="input-group-prepend">
                                        <select class="form-select" name="type3" style="height:50px;">
                                            <option value="" th:selected="${stockPageRequestDTO.type3 == null}">-항목선택--------------------------------</option>
                                            <option value="k" th:selected="${stockPageRequestDTO.type3 == 'k'}">품목코드</option>
                                            <option value="l" th:selected="${stockPageRequestDTO.type3 == 'l'}">품목이름</option>
                                        </select>&nbsp;
                                        <input type="text" class="form-control" name="keyword" th:value="${stockPageRequestDTO.keyword}" style="height:50px;">
                                    </div>
                                </td>
                            </tr>
                            <tr style="height:20px;">
                                <td colspan="2" style="text-align: right;">
                                    <button class="btn btn-outline-secondary searchBtn" type="button">검색</button>
                                    <button class="btn btn-outline-secondary resetBtn" type="button" onclick="location.href='/stock/list';">초기화</button>
                                </td>
                            </tr>

                        </table>

                    </div><!-- <div class="input-group"> -->
                    </form>
                </div><!-- div -->
            </div><!-- <div class="card-body"> -->


            <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">자재목록</h6></div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>품목코드</th>
                            <th>품목이름</th>
                            <th>품목분류1</th>
                            <th>품목분류2</th>
                            <th>입고수량</th>
                            <th>출고수량</th>
                            <th>재고수량</th>
                            <th>공급단가(원)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="dto : ${result.dtoList}">
                            <td><input type="radio" name="radio" th:value="${dto.sno}"></td>
                            <td>[[${dto.scode}]]</td>
                            <td><a th:href="@{/stock/read(sno = ${dto.sno}, page = ${result.page}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}">[[${dto.sname}]]</a></td>
                            <td>[[${dto.scate1}]]</td>
                            <td>[[${dto.scate2}]]</td>
                            <td>[[${dto.sin}]]</td>
                            <td>[[${dto.sout}]]</td>
                            <td>[[${dto.stock}]]</td>
                            <td>[[${dto.sreturn}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="float: right">
                        <button class="btn btn-outline-secondary stickOutputBtn" type="button">자재출고</button>
                        <button class="btn btn-outline-secondary stockRegistBtn" type="button" onclick="location.href='/stock/register';">자재등록</button>
                    </div>


                </div>  <!-- 69 line end -->

                <ul class="pagination h-100 justify-content-center align-items-center">

                    <li class="page-item " th:if="${result.prev}">
                        <a class="page-link" th:href="@{/stock/list(page= ${result.start -1}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}" tabindex="-1">Previous</a>
                    </li>

                    <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                        <a class="page-link" th:href="@{/stock/list(page = ${page}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}">
                            [[${page}]]
                        </a>
                    </li>

                    <li class="page-item" th:if="${result.next}">
                        <a class="page-link" th:href="@{/stock/list(page= ${result.end + 1}, type1 = ${stockPageRequestDTO.type1}, type2 = ${stockPageRequestDTO.type2}, type3 = ${stockPageRequestDTO.type3}, keyword = ${stockPageRequestDTO.keyword})}">Next</a>
                    </li>
                </ul>

            </div>  <!-- 68line end -->
        </div>  <!-- 12line end -->

        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            var msg = [[${msg}]];

            console.log(msg);

            if(msg){
                $(".modal").modal();
            }

            var searchForm = $("#searchForm");

            $('.searchBtn').click(function (){

                searchForm.submit();

            });

        </script>

    </th:block>
</th:block>
