<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="h3 mb-2 text-gray-800">자재정보 수정하기</h1>

    <form action="/stock/modify" method="post">
      <input type="hidden" name="sno" th:value="${dto.sno}">
      <input type="hidden" name="page" th:value="${requestDTO.page}">
      <input type="hidden" name="type1" th:value="${requestDTO.type1}">
      <input type="hidden" name="type2" th:value="${requestDTO.type2}">
      <input type="hidden" name="type3" th:value="${requestDTO.type3}">
      <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
    <div class="form-group">
      <label >품목코드</label>
      <input type="text" class="form-control" name="scode" th:value="${dto.scode}" readonly>
    </div>

    <div class="form-group">
      <label >품목이름</label>
      <input type="text" class="form-control" name="sname" th:value="${dto.sname}">
    </div>

    <div class="form-group">
      <label >품목분류</label>
      <input type="text" class="form-control" name="cate1" th:value="${dto.scate1}">
      <select id="category" name="scate1" size="1" onchange="makeSubmenu(this.value);selectscate1(this.value);" style="width:100%;height:50px;">
        <option value="" disabled selected>----------------분류선택----------------</option>
        <option value="DESKTOP">DESKTOP</option>
        <option value="NOTEBOOK">NOTEBOOK</option>
        <option value="SERVER">SERVER</option>
        <option value="ETC">ETC</option>
        <option value="ACCESSORY">ACCESSORY</option>
        <option value="TOOLS">TOOLS</option>
      </select>&nbsp;
      <input type="text" class="form-control" name="cate2" th:value="${dto.scate2}">
      <select id="categorySelect" name="scate2" size="1" style="width:100%;height:50px;" onchange="selectscate2(this.value);">
        <option value="" disabled selected>----------------분류선택----------------</option>
        <option></option>
      </select>&nbsp;
    </div>

    <div class="form-gr" style="display: flex; justify-content: space-between;">
      <div>
        <label>입고수량</label>
        <input type="text" class="form-control" name="sin" th:value="${dto.sin}" readonly>
      </div>
      <div>
        <label>출고수량</label>
        <input type="text" class="form-control" name="sout" th:value="${dto.sout}" readonly>
      </div>
      <div>
        <label>반품수량</label>
        <input type="text" class="form-control" name="sreturn" th:value="${dto.sreturn}" readonly>
      </div>
      <div>
        <label>재고수량</label>
        <input type="text" class="form-control" name="stock" th:value="${dto.stock}" readonly>
      </div>
    </div>

    <div class="form-group">
      <label >비고</label>
      <textarea class="form-control" rows="5" name="snote">[[${dto.snote}]]</textarea>
    </div>
    </form>

<!--    <a th:href="@{/stock/modify(sno = ${dto.sno}, page=${requestDTO.page})}">-->
      <button type="button" class="btn btn-outline-secondary readModifyBtn">수정</button>
<!--    </a>-->

    <a th:href="@{/stock/list(page=${requestDTO.page}, type1 = ${requestDTO.type1}, type2 = ${requestDTO.type2}, type3 = ${requestDTO.type3}, keyword = ${requestDTO.keyword})}">
      <button type="button" class="btn btn-outline-secondary readListBtn">목록</button>
    </a>

    <!--<div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input class="form-control"  type="text" name="replyText" placeholder="Reply Text...">
            </div>
            <div class="form-group">
              <input class="form-control"  type="text" name="replyer" placeholder="Replyer">
              <input type="hidden" name="rno" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger replyRemove">Remove</button>
            <button type="button" class="btn btn-warning replyModify">Modify</button>
            <button type="button" class="btn btn-primary replySave">Save</button>
            <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>-->

    <script th:inline="javascript">

      var actionForm = $("form");

          /* 대,중분류 select박스 선택값에 따라 input값 변경처리 jQuery */
          var selectscate1 = function(value){
            $("[name=cate1]").val(value);
          }

          /* 대,중분류 select박스 선택값에 따라 input값 변경처리 jQuery */
          var selectscate2 = function(value){
            $("[name=cate2]").val(value);
          }

          $(".readModifyBtn").click(function () {
            if(!confirm("수정하시겠습니까?")) {
            return;
          }

          actionForm
                .attr("action", "/stock/modify")
                .attr("method", "post");
          actionForm.submit();
          });
    </script>

  </th:block>
</th:block>

