<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">자재정보 상세보기</h1>

    <form action="/stock/modify" method="post">
      <input type="hidden" name="sno" th:value="${dto.sno}">
    <div class="form-group">
      <label >품목코드</label>
      <input type="text" class="form-control" name="scode" th:value="${dto.scode}" readonly >
    </div>

    <div class="form-group">
      <label >품목이름</label>
      <input type="text" class="form-control" name="sname" th:value="${dto.sname}" readonly >
    </div>

    <div class="form-group">
      <label >품목분류1</label>
      <input type="text" class="form-control" name="scate1" th:value="${dto.scate1}" readonly>
    </div>


    <div class="form-group">
      <label >품목분류2</label>
      <input type="text" class="form-control" name="scate2" th:value="${dto.scate2}" readonly>
    </div>

    <div class="form-gr" style="display: flex; justify-content: space-between;">
      <div>
        <label>입고수량</label>
        <input type="text" class="form-control" name="sin" th:value="${#numbers.formatInteger(dto.sin, 1, 'COMMA') + '개'}" readonly>
      </div>
      <div>
        <label>출고수량</label>
        <input type="text" class="form-control" name="sout" th:value="${#numbers.formatInteger(dto.sout, 1, 'COMMA') + '개'}" readonly>
      </div>
      <div>
        <label>재고수량</label>
        <input type="text" class="form-control" name="stock" th:value="${#numbers.formatInteger(dto.stock, 1, 'COMMA') + '개'}" readonly>
      </div>
      <div>
        <label>공급단가</label>
        <input type="text" class="form-control" name="sreturn" th:value="${#numbers.formatInteger(dto.sreturn, 1, 'COMMA') + '원'}" readonly>
      </div>
    </div>

    <div class="form-group">
      <label >비고</label>
      <textarea class="form-control" rows="5" name="snote" readonly></textarea>
    </div>
    </form>

    <div>
    <div th:each="hdto : ${result}">
      <span th:text="${#temporals.format(hdto.regDate, 'yyyy-MM-dd HH:mm:ss')}"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>[[${hdto.text}]]</span>&nbsp;&nbsp;&nbsp;&nbsp;<div><label>신청자:</label>[[${hdto.requester}]]</div>
    </div>
    </div>


    <a th:href="@{/stock/modify(sno = ${dto.sno}, page=${requestDTO.page}, type1 = ${requestDTO.type1}, type2 = ${requestDTO.type2}, type3 = ${requestDTO.type3}, keyword = ${requestDTO.keyword})}">
      <button type="button" class="btn btn-primary readModifyBtn">수정</button>
    </a>

    <a th:href="@{/stock/list(page=${requestDTO.page}, type1 = ${requestDTO.type1}, type2 = ${requestDTO.type2}, type3 = ${requestDTO.type3}, keyword = ${requestDTO.keyword})}">
      <button type="button" class="btn btn-info readListBtn">목록</button>
    </a>

<!--        <a th:href="@{/stock/remove(page=${requestDTO.page})}">-->
    <button type="button" class="btn btn-danger readRemoveBtn">삭제</button>
    <!--    </a>-->

    <!--<div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <input class="form-control"  type="text" name="replyText" placeholder="Reply Text...">
            </div>
            <div class="form-group">
              <input class="form-control"  type="text" name="replyer" placeholder="Replyer">
              <input type="hidden" name="rno" >
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger replyRemove">Remove</button>
            <button type="button" class="btn btn-warning replyModify">Modify</button>
            <button type="button" class="btn btn-primary replySave">Save</button>
            <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>-->

    <script th:inline="javascript">

      var actionForm = $("form");

      $(".readRemoveBtn").click(function (){
        if(!confirm("삭제하시겠습니까?")) {
          return;
        }
        actionForm
                .attr("action", "/stock/remove")
                .attr("method", "post");

        actionForm.submit();

      });

    </script>


  </th:block>

</th:block>

