<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

    <h1 class="h3 mb-2 text-gray-800">자재정보 등록하기</h1>
    <!-- page card -->
    <div class="card shadow mb-4">
      <!-- card-body -->
      <div class="card-body">

        <form th:action="@{/stock/register}" th:method="post">
          <div class="form-group">
            <label>자재코드</label>
            <!-- <input type="text" class="form-control" name="scode" placeholder="P0000"> -->
            <input type="text" class="form-control" name="scode" id="scode" placeholder="클릭하세요!!!" onclick="displayRandomSNum();" readonly>
          </div>
          <div class="form-group">
            <label>자재이름</label>
            <input type="text" class="form-control" name="sname">
          </div>
          <div class="form-group">
            <label>자재분류</label><br/>
            <select id="category" name="scate1" size="1" onchange="makeSubmenu(this.value)" style="height:50px;">
              <option value="" disabled selected>----------------분류선택----------------</option>
              <option value="DESKTOP">DESKTOP</option>
              <option value="NOTEBOOK">NOTEBOOK</option>
              <option value="SERVER">SERVER</option>
              <option value="ETC">ETC</option>
              <option value="ACCESSORY">ACCESSORY</option>
              <option value="TOOLS">TOOLS</option>
            </select>&nbsp;
            <!--
            <select class="form-select" name="scate1" style="height:40px;">
              <option value="미분류">-분류선택--------------------------------</option>
              <option value="데스크톱">데스크톱</option>
              <option value="노트북">노트북</option>
              <option value="서버">서버</option>
              <option value="기타">기타</option>
            </select>
            -->
            <select id="categorySelect" name="scate2" size="1" style="height:50px;">
              <option value="" disabled selected>----------------분류선택----------------</option>
              <option></option>
            </select>

            <!--
            <select class="form-select" name="scate2" style="height:40px;">
              <option value="미분류">-분류선택--------------------------------</option>
              <option value="CPU">CPU</option>
              <option value="메인보드">메인보드</option>
              <option value="메모리">메모리</option>
              <option value="하드디스크">하드디스크/SDD</option>
              <option value="케이스">케이스</option>
              <option value="파워">파워</option>
            </select>
            -->
          </div>
          <div class="form-group">
            <label>비고</label>
            <textarea class="form-control" rows="2" name="snote"></textarea>
          </div>

          <button type="submit" class="btn btn-primary">등록</button>
        </form>

      </div> <!-- card-body -->
    </div><!-- page card -->
  </th:block>
</th:block>