<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Begin Page Content -->
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">카테고리테스트</h1>
        <!-- page card -->
        <div class="card shadow mb-4">

            <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">글제목</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2">
                        <select class="form-select" th:name="test1">
                            <option value="">- 대분류 ----------------</option>
                            <option th:each="dto : ${result.dtoList}"
                                    th:value="${dto.cid}" th:selected="${test1}=='${dto.cid}'"
                                    th:text="${dto.cname}">
                            </option>
                        </select>&nbsp;

                        <select class="form-select" th:name="test2">
                            <option value="">- 소분류 ----------------</option>
                            <option th:each="dto2 : ${result2.dtoList}"
                                    th:value="${dto2.ccid}" th:selected="${test1}=='${dto2.ccid}'"
                                    th:text="${dto2.ccname}">[[${dto2.pcid}]]
                            </option>
                        </select>

                    </td>
                </tr>
            </tbody>
            </table>

        </div>
        <!-- page card -->
        <!-- End Page Content -->
    </th:block>
</th:block>



