<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

      <h1 class="h3 mb-2 text-gray-800">계약정보 등록하기</h1>

        <form th:action="@{/contract/register}" th:method="post">

            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">
                    <div class="form-group">
                        <label>계약코드</label>
                        <!-- <input type="text" class="form-control" name="ccode"> -->
                        <input type="text" class="form-control" name="ccode" id="ccode" placeholder="클릭하세요!!!" onclick="displayRandomCNum();" readonly>
                    </div>
                    <div class="form-group">
                        <label>계약일자</label>
                        <input type="date" class="form-control" name="cdate">
                    </div>
                </div><!-- card-body -->
            </div><!-- page card -->

            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                        <label>품목코드</label>
                        <input type="text" class="form-control" name="pcode" id="pcode" placeholder="클릭하세요!!!" onclick="contractRegistOpenPopup()" readonly>
                    </div>
                    <div class="form-group">
                        <label>품목이름</label>
                        <input type="text" class="form-control" name="pname" id="pname" readonly>
                    </div>
                    <div class="form-group">
                        <label>품목분류1</label>
                        <input type="text" class="form-control" name="ptype1" id="ptype1" readonly>
                    </div>
                    <div class="form-group">
                        <label>품목분류2</label>
                        <input type="text" class="form-control" name="ptype2" id="ptype2" readonly>
                    </div>
                    <div class="form-group">
                        <label>품목수량</label>
                        <input type="text" class="form-control" name="pcount">
                    </div>
                    <div class="form-group">
                        <label>품목단가</label>
                        <input type="text" class="form-control" name="pprice" id="pprice">
                    </div>

                </div><!-- card-body -->
            </div><!-- page card -->



            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                        <label>거래처명</label>
                        <input type="text" class="form-control" name="cpartnername">
                    </div>
                    <div class="form-group">
                        <label>거래처 대표자</label>
                        <input type="text" class="form-control" name="cpartnerceo">
                    </div>
                    <div class="form-group">
                        <label>거래처 주소</label>
                        <input type="text" class="form-control" name="cpartneraddr">
                    </div>
                    <div class="form-group">
                        <label>거래처 연락처</label>
                        <input type="text" class="form-control" name="cpartnerphone">
                    </div>
                    <div class="form-group">
                        <label>거래처 팩스</label>
                        <input type="text" class="form-control" name="cpartnerfax">
                    </div>

                </div><!-- card-body -->
            </div><!-- page card -->


            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                        <label>인수자</label>
                        <input type="text" class="form-control" name="cmanager">
                    </div>
                    <div class="form-group">
                        <label>납품자</label>
                        <input type="text" class="form-control" name="cpartnermanager">
                    </div>
                    <div class="form-group">
                        <label>납기일자</label>
                        <input type="date" class="form-control" name="cdeliverydate">
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="cstatus" value="신규계약">
                    </div>
                    <div class="form-group">
                        <label>양도,양수조건</label>
                        <textarea class="form-control" rows="3" name="cetc"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">등록</button>
                    <a th:href="@{/contract/list}"><button type="button" class="btn btn-info">목록</button></a>

                </div><!-- card-body -->
            </div><!-- page card -->

        </form>

  </th:block>
</th:block>