<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

    <h1 class="mt-4">계약정보 등록 페이지</h1>

        <form th:action="@{/contract/register}" th:method="post">

            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                      <label>계약번호</label>
                      <input type="text" class="form-control" name="ccode">
                    </div>

                </div>
            </div>

            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                        <label>거래처명</label>
                        <input type="text" class="form-control" name="cpartnername">
                    </div>
                    <div class="form-group">
                        <label>거래처 대표자</label>
                        <input type="text" class="form-control" name="cpartnerceo">
                    </div>
                    <div class="form-group">
                        <label>거래처 주소</label>
                        <input type="text" class="form-control" name="cpartneraddr">
                    </div>
                    <div class="form-group">
                        <label>거래처 연락처</label>
                        <input type="text" class="form-control" name="cpartnerphone">
                    </div>
                    <div class="form-group">
                        <label>거래처 팩스</label>
                        <input type="text" class="form-control" name="cpartnerfax">
                    </div>

                </div>
            </div>

            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                        <label>품목코드</label>
                        <input type="text" class="form-control" name="pcode">
                    </div>
                    <div class="form-group">
                        <label>품목이름</label>
                        <input type="text" class="form-control" name="pname">
                    </div>
                    <div class="form-group">
                        <label>품목수량</label>
                        <input type="text" class="form-control" name="pcount">
                    </div>
                    <div class="form-group">
                        <label>품목단가</label>
                        <input type="text" class="form-control" name="pprice">
                    </div>

                </div>
            </div>

            <!-- page card -->
            <div class="card shadow mb-4">
                <!-- card-body -->
                <div class="card-body">

                    <div class="form-group">
                        <label>인수자</label>
                        <input type="text" class="form-control" name="cmanager">
                    </div>
                    <div class="form-group">
                        <label>납품자</label>
                        <input type="text" class="form-control" name="cpartnermanager">
                    </div>
                    <div class="form-group">
                        <label>계약일자</label>
                        <input type="date" class="form-control" name="cdate">
                    </div>
                    <div class="form-group">
                        <label>계약상태</label>
                        <select class="form-select" name="cstatus" style="height:40px;">
                            <option value="미분류">-분류선택--------------------------------</option>
                            <option value="신규">신규</option>
                            <option value="완료">완료</option>
                            <option value="종료">종료</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>양도,양수조건</label>
                        <textarea class="form-control" rows="2" name="cetc"></textarea>
                    </div>
                    <div class="form-group">
                        <label>리드타임</label>
                        <input type="text" class="form-control" name="cleadtime">
                    </div>

                    <button type="submit" class="btn btn-primary">등록</button>

                </div><!-- card-body -->
            </div><!-- page card -->

        </form>

  </th:block>
</th:block>